<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>CARDI B</title>
	</head>
	<body>

		<table>
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Password</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{user['first_name']}}</td>
						<td>{{user['last_name']}}</td>
						<td>{{user['email']}}</td>
						<td>{{user['password']}}</td>
						<td><a href="/users/{{user['id']}}/delete">Delete</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<h2>REGISTER</h2>
		<form action="/users" method="post">
			<label>First Name:
				<input type="text" name="first_name">
			</label><br>
			<label>Last Name:
				<input type="text" name="last_name">
			</label><br>
			<label>Email Name:
				<input type="text" name="email">
			</label><br>
			<label>Password:
				<input type="text" name="password">
			</label><br>
			<label>Confirm Password:
				<input type="text" name="passconf">
			</label><br>
			<input type="submit" value="Register User">
		</form>

	</body>
</html>
